.container{
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
}
.container .product_xq{
    width: 100%;
    background-color: rgb(255,255,255);
    padding: 50px 0;
}
.container .product_xq>div{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.container .product_xq .left{
    width: 40%;
    margin-right: 40px;
}
.container .product_xq .left img{
    width: 100%;
}
.container .product_xq .right{
    width: 55%;
    padding: 20px;
}
.container .product_xq .right>p{
    font-size: 35px;
    margin-bottom: 20px;
}
.container .product_xq .right>span{
    font-size: 18px;
}
.container .product_xq .right .list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
.container .product_xq .right .list .item{
    width: 45%;
    display: flex;
    margin-bottom: 30px;
}
.container .product_xq .right .list .item img{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}
.container .product_xq .right .list .item div p{
    font-size: 20px;
    margin-bottom: 20px;
}
.container .product_xq .right .list .item div span{
    color: #8D8F98;
}
.container .product_ghq{
    width: 100%;
    background-color: rgb(247, 247, 247);
    padding: 50px 0;
}
.container .product_ghq>div{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.container .product_ghq>div .right{
    width: 40%;
    margin-left: 40px;
}
.container .product_ghq>div .right img{
    width: 100%;
}
.container .product_ghq>div .left{
    width: 55%;
    padding: 20px;
}
.container .product_ghq>div .left>p{
    font-size: 35px;
    margin-bottom: 20px;
}
.container .product_ghq>div .left>span{
    font-size: 18px;
}
.container .product_ghq>div .left .list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
.container .product_ghq>div .left .list .item{
    width: 45%;
    display: flex;
    margin-bottom: 30px;
}
.container .product_ghq>div .left .list .item img{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}
.container .product_ghq>div .left .list .item div p{
    font-size: 20px;
    margin-bottom: 20px;
}
.container .product_ghq>div .left .list .item div span{
    color: #8D8F98;
}
.container .product_sj{
    width: 100%;
    background-color: rgb(255,255,255);
    padding: 50px 0;
}
.container .product_sj>div{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.container .product_sj .left{
    width: 40%;
    margin-right: 40px;
}
.container .product_sj .left img{
    width: 100%;
}
.container .product_sj .right{
    width: 55%;
    padding: 20px;
}
.container .product_sj .right>p{
    font-size: 35px;
    margin-bottom: 20px;
}
.container .product_sj .right>span{
    font-size: 18px;
}
.container .product_sj .right .list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
.container .product_sj .right .list .item{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}
.container .product_sj .right .list .item img{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}
.container .product_sj .right .list .item div p{
    font-size: 20px;
    margin-bottom: 20px;
}
.container .product_sj .right .list .item div span{
    color: #8D8F98;
}
.container .introduce{
    width: 100%;
    background-color: rgb(255,255,255);
    padding: 50px 0;
}
.container .introduce .list{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .introduce .list .item{
    width: 30%;
    text-align: center;
    margin-bottom: 50px;
}
.container .introduce .list .item img{
    width: 55px;
    height: 55px;
    margin-bottom: 20px;
}
.container .introduce .list .item p{
    font-size: 25px;
}
.container .introduce .list .item span{
    font-size: 18px;
    display: inline-block;
    line-height: 30px;
    color: #8D8F98;
    margin-top: 20px;
}