*{margin: 0;padding: 0;}
body{background-color: rgb(245, 248, 250);font-family: '黑体';}
ul,li{list-style: none;}
a{text-decoration: none;}
header{
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 9999;
    box-shadow: 0 0 8px #ccc;
}
header>div{
    width: 1600px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
header>div>nav>ul{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
header>div>nav>ul>li{
    margin-left: 20px;
}
header>div>nav>ul>li a{
    color: #000;
    font-weight: bold;
    padding-bottom: 5px;
    margin-right: 10px;
}
header>div>nav>ul>li a.active{
    border-bottom: 3px solid rgb(38, 72, 239);
}